body {
    display: contents;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003554;
    padding: 10px;
    color: #003554;
}

/* Estilos para el logo */
.logo img {
    width: 70px;
    height: 70px;
}

/* Estilos para el menú */
.menu img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

/* Estilos para el avatar y su cuadro */
.avatar {
    position: relative;
}

.avatar-box {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.topnav-container {
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
}

/* Estilo de los enlaces de navegación */
.topnav a {
    color: black;
    text-decoration: none;
    padding: 5px 5px; /* Espacio alrededor de los enlaces */
    border-radius: 5px;
}

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

/* Estilo de la barra de búsqueda */
.topnav input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* Estilo del contenedor de los íconos */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    background-color: #e9e9e9;
    padding: 10px 20px;
    margin-right: 20px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

/* Estilo del icono de usuario */
.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #007BFF;
    text-align: center;
    line-height: 24px;
    margin-left: 10px;
    margin-top: -15px;
}

/* Estilo del icono de menú */
.menu-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #007BFF;
    text-align: center;
    line-height: 24px;
}

/* Estilo del menú desplegable */
.user-menu {
    display: none;
    position: absolute;
    top: 35px;
    right: 0;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    .user-menu ul {
        list-style: none;
        padding: 0;
    }

    .user-menu li {
        padding: 10px;
    }

        /* Estilo para las opciones del menú */
        .user-menu li a {
            text-align: left;
            display: block;
            text-decoration: none;
            color: #333;
        }

            .user-menu li a:hover {
                color: #007BFF;
            }

    /* Estilo para la raya que separa la opción 2 de la opción 3 */
    .user-menu ul li:nth-child(3) {
        border-top: 2px solid #ccc;
    }

    /* Mostrar el menú cuando se hace clic */
    .user-menu.active {
        display: block;
    }
