
.container_img {
    position: relative;
    z-index: 0; /* Puedes intentar cambiar el z-index para el carrusel */
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
}

.carousel__face img {
    position: relative;
    z-index: 2; /* Asegura que las imágenes estén por encima del resto */
}

/* Asegúrate de que los otros elementos tengan un z-index menor */
.mini-cardDescription,
.mini-card {
    position: relative;
    z-index: 1; /* Puede ser menor que el de las imágenes */
    height:1000px;
}


.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 10s infinite forwards linear;
}

.carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
}

span {
    margin: auto;
    font-size: 2rem;
}


.carousel__face:nth-child(1) {
    transform: rotateY( 0deg) translateZ(600px);
}

.carousel__face:nth-child(2) {
    transform: rotateY( 40deg) translateZ(600px);
}

.carousel__face:nth-child(3) {
    transform: rotateY( 80deg) translateZ(600px);
}

.carousel__face:nth-child(4) {
    transform: rotateY(120deg) translateZ(600px);
}

.carousel__face:nth-child(5) {
    transform: rotateY(160deg) translateZ(600px);
}

.carousel__face:nth-child(6) {
    transform: rotateY(200deg) translateZ(600px);
}

.carousel__face:nth-child(7) {
    transform: rotateY(240deg) translateZ(600px);
}

.carousel__face:nth-child(8) {
    transform: rotateY(280deg) translateZ(600px);
}

.carousel__face:nth-child(9) {
    transform: rotateY(320deg) translateZ(600px);
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}

