body {
    background-color: #A3AB78;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Establecer una fuente genérica para mayor consistencia */
}

.container {
    max-width: 100%; /* Hacer que el ancho máximo sea el 100% */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box; /* Incluir el padding y border en el ancho y alto */
}


.hotel-details {
    padding: 20px;
}

.hotel {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.hotel-title {
    font-size: 32px;
    font-weight: bold;
    color: #333;    
}

.hotel-description {
    color: #555;
    margin-top: 10px;
}

.hotel-ratings {
    color: #A3AB78;
    font-size: 18px;
    margin-top: 10px;
}

.amenities {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.amenity-card {
    max-width: 200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 10px; /* Ajusta el margen según tus necesidades */
}

.amenity-card {
    width: 120px;
    padding: 10px;
    margin: 10px;
    background-color: #A3AB78;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.amenity-icon {
    font-size: 24px;
    color: #000;
}

.comments {
    clear: both;
    padding: 20px;
}

.comment-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.comment-author {
    font-weight: bold;
}

.comment-date {
    color: #888;
}

.comment-text {
    margin-top: 10px;
}

.response {
    margin-left: 30px;
    background-color: #f4f4f4;
    padding: 10px;
}

.comment-form {
    padding: 20px;
}

.comment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.comment-modal {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    background-color: #A3AB78;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
/* Estilo adicional para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px; /* Ubica el modal en el centro de la pantalla */
}

.modal-content {
    margin: 5% auto;
    width: 20%;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fefefe;
}

/* Agrega este estilo para el botón de confirmar reserva */
#btnConfirmarReserva {
    display: block;
    margin: auto;
    margin-top: 10px;
}



.navbar {
    background-color: #BDE038; /* Color de fondo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.logo {
    width: 70px; /* Ajusta el ancho de la imagen según tus necesidades */
}


.form-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.viaje-huesped-section,
.lugar-section {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

    /* Ajustes de estilo para el segundo contenedor */
    .lugar-section img {
        width: 100%;
        border-radius: 8px; /* Bordes redondeados */
        margin-bottom: 10px;
    }

    .lugar-section h3 {
        color: #333; /* Color del texto */
    }

    .lugar-section p {
        margin: 5px 0;
    }

/*body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}*/

.mini-cardservicios {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 1150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


.mini-cardDescription {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: auto;
    height:auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}



.mini-card {
    width: auto; /* El 80% del ancho de la ventana gráfica */
    height: auto; /* Altura automática basada en el contenido */
    border-radius: 10px;
}


.info-container {
    display: flex;
    flex-wrap: wrap; /* Envuelve los elementos si no caben en una línea */
}

.info-item {
    display: inline-block; /* Muestra los elementos en línea */
    max-width: auto; /* Ancho máximo para cada elemento */
    white-space: nowrap; /* Evita que los elementos se dividan en líneas */
    overflow: hidden; /* Oculta el contenido extra si no cabe */
    margin-right: 10px; /* Espacio entre elementos */
}


.icon {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    font-size: 28px; /* Tamaño del icono */
}

/* Ajusta el tamaño de las etiquetas si es necesario */
span {
    font-size: 25px;
    /* Otros estilos de etiquetas si es necesario */
}


h3 {
    margin-top: 0;
}

p {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
}


.content-wrapper {
    display: flex;
}

.side-section {
    flex: 1; /* Distribuye el espacio disponible */
    padding: 0 15px; /* Espacio entre secciones */
}

.fechas-disponibles {
    border: 1px solid #ccc;
    padding: 10px;
    width: 30%; /* Ancho deseado del elemento */
    box-sizing: border-box; /* Incluye padding y border en el ancho */
}


.sticky-box {
    position: sticky;
    top: 5%;
    left: 1800px; /* Cambiado a 20px para dejar un margen desde el borde izquierdo */
    width: 550px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .sticky-box label,
    .sticky-box input,
    .sticky-box button {
        display: block;
        margin-bottom: 10px;
    }
